@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0; 
    background-color: #22223B;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    text-align: center;
    padding: 30px;
}

.about {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.skills {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.experience {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.education {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.recognition {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.certifications {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.portfolio {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.papers {
    width: 100%;
    margin: auto;
    padding: 30px;
}

.articles {
    width: 100%;
    margin: auto;
    padding: 30px;
}

.productions {
    width: 100%;
    margin: auto;
    padding: 30px;
}

.code {
    width: 100%;
    margin: auto;
    padding: 30px;
}

.contact {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.footer {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.section-header {
    color: #c9ada7;
}

.section-sub-header {
    color: #9a8c98;
}